<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet"> 
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">

        <title>Sven's Blog</title>
    </head>

    <body>
        <div id="headertop">
            <a id="logo" href="http://svenfoerster.github.io">SF</a>
        </div>

        <nav id="navigationbar">
                <ul>
                    <li><a href="/index.html">Blog</a></li>
                    <li><a href="/index.html">Fotos</a></li>
                    <li><a href="/index.html">Kontakt</a></li>
                </ul>
        </nav>

        <div class="photo"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {{ content }}            
                </div>
            </div>
        </div>

        <div class="photo1"></div>

        <div class="container-fluid myFooter">
            <a href="http://github.com/svenfoerster"><img src="/images/GitHub-Mark-32px.png"></a>
            <a href="#"><img src="/images/FB.png"></a>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script id="dsq-count-scr" src="//svenfoerster.disqus.com/count.js" async></script>
    </body>
</html>
