<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet"> 
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css">

        <title>Clean Academy</title>
    </head>

    <body>
        <div class="ruletop"></div>
        <div id="headertop">
            <a id="logo" href="http://svenfoerster.github.io">CA</a>
        </div>

        <nav id="navigationbar">
                <ul>
                    <li><a href="/index.html">Blog</a></li>
                    <li><a href="/fotos.html">Fotos</a></li>
                    <li><a href="/team.html">Team</a></li>
                </ul>
        </nav>

        {{ content }}            

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script id="dsq-count-scr" src="//svenfoerster.disqus.com/count.js" async></script>
    </body>
</html>
